{% extends "boundary_template.html" %}
{% load static %}
{% block main-content %}
<script src="{% static 'boundary_details.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">


<div class="col-main-content">
    <h1>{{ boundary.name }}</h1>
</div>
<div class="col-main-content">
    <p>Admin Level: {{ boundary.admin_level }}</p>
    <p>ISO 3166-2: {{ boundary.iso31662 }}</p>
    <p>Openstreetmap ID: {{ boundary.osm_id }}</p>
    <p>Ref GSS: {{ boundary.ref_gss }}</p>
    <a href="https://www.openstreetmap.org/relation/{{ boundary.osm_id }}" target="_blank" class="btn btn-primary">View
        on OpenStreetMap</a>
</div>
<div class="col-main-content">
    <h2>Railway stations</h2>
    <div id="train-station-list"></div>
    <button class="btn btn-primary" id="get-all-stations-btn">Get all stations data</button>
</div>
<div class="col-main-content">
    <a href='{% url "publictransit:boundary_overview" %}' class="btn btn-success">Back to Index</a>
</div>



{% endblock %}
