{% extends "boundary_template.html" %}
{% load static %}
{% block main-content %}
<script src="{% static 'boundary_details.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">


<div class="col-main-content">
    <h1>{{ boundary.name }}</h1>
</div>
<div class="col-main-content">
    <p>Admin Level: {{ boundary.admin_level }}</p>
    <p>ISO 3166-2: {{ boundary.iso31662 }}</p>
    <p>Openstreetmap ID: {{ boundary.osm_id }}</p>
    <p>Ref GSS: {{ boundary.ref_gss }}</p>
    <a href="https://www.openstreetmap.org/relation/{{ boundary.osm_id }}" target="_blank" class="btn btn-primary">View
        on OpenStreetMap</a>
</div>
<div class="col-main-content">
    <h2>Railway stations</h2>
    <p id="stations-summary">There are 0 stations in the database for this area.</p>
    <div class="accordion">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Click to expand/collapse
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne">
                <div class="accordion-body">
                    <div id="train-station-list"></div>
                </div>
            </div>
        </div>
    </div>
    <button id="stations-map-btn" class="btn btn-primary">View on OpenStreetMap</button>
    <button id="remove-stations-btn" class="btn btn-danger">Remove Stations Data</button>
    <button id="download-stations-btn" class="btn btn-primary">Download Stations Data</button>
</div>
<div class="col-main-content">
    <a href='{% url "publictransit:boundary_overview" %}' class="btn btn-success">Back to Index</a>
</div>



{% endblock %}
