{% load static %}

<!DOCTYPE html>
<html>

<head>
  <title>Enter two locations</title>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'location_input.css' %}">
  <script src="{% static 'save_location.js' %}"></script>
</head>


<body>
  <h1>Enter two locations</h1>
  <form method="post">
    {% csrf_token %}
    <div class="small_col">
      Location 1
      <label for="location1_latitude">Latitude:</label>
      <input type="text" name="location1_latitude">
      <label for="location1_longitude">Longitude:</label>
      <input type="text" name="location1_longitude">
    </div>
    <div class="small_col small_col_2">
      Location 2
      <label for="location2_latitude">Latitude:</label>
      <input type="text" name="location2_latitude">
      <label for="location2_longitude">Longitude:</label>
      <input type="text" name="location2_longitude">
    </div>
    <div class="large_col">
      <button type="button" id="save-button">Save</button>
    </div>
    <div class="clearfix"></div>
  </form>
  <div class="message-box error"></div>
  <div class="message-box success"></div>
</body>


</html>
