{% extends "base.html" %}
{% load static %}
{% block content %}

<script src="{% static 'boundary.js' %}"></script>

<h1>Add Map Boundary</h1>

<form method="post">
    {% csrf_token %}
    <label for="admin_level">Admin Level:</label>
    <input type="number" name="admin_level" required><br>

    <label for="iso31662">ISO31662:</label>
    <input type="text" name="iso31662"><br>

    <label for="name">Name:</label>
    <input type="text" name="name" required><br>

    <label for="osm_id">OSM ID:</label>
    <input type="number" name="osm_id" required><br>

    <label for="ref_gss">Ref GSS:</label>
    <input type="text" name="ref_gss"><br>

    <input type="submit" value="Add Map Boundary">
</form>

<p><span id="error-message"></span></p>

<div class="container mt-4">
    <div class="row" id="card-container"></div>
</div>

{% endblock %}
